@{
    ViewData["Title"] = "Home Page";
}

<div class="container" ng-controller="playersListController as ctrl" ng-init="ctrl.init()">

    @*MENU FILTRI IN CASO DI UTILIZZO TRAMITE SMARTPHONE*@
    <nav class="visible-xs navbar navbar-default" style="background-color: transparent !important; border: none !important" role="navigation">
        <div class="container-fluid ng-class: {hidden: ctrl.printEnabled}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-filter" style="font-size: 20px"></span>
                </button>
                <div style="float: left">
                    <h3 style="margin-bottom: -10px !important;margin-top: 10px;">Lista Calciatori</h3>
                    <h6>aggiornata al 18/08/2017</h6>
                </div>
                
                <p style="float: right;margin-right: 5px;font-weight: bold;margin-top: 21px;font-size: 16px;">Filtra </p>
            </div>
            <div class="collapse navbar-collapse" aria-expanded="false" style="border-color: transparent !important; overflow: hidden">
                <div class="row">
                    <div class="row" style="margin-bottom: 15px; margin-left: 0px !important">
                        <div class="input-group">
                            <span class="input-group-addon">Nome</span>
                            <input type="text" ng-model="ctrl.playerName" class="form-control" placeholder="Cerca giocatore...">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px; margin-left: 0px !important">
                        <div class="input-group">
                            <span class="input-group-addon">Ruolo</span>
                            <button class="btn btn-info" ng-click="ctrl.roleName = 'P'">P</button>
                            <button class="btn btn-success" ng-click="ctrl.roleName = 'D'">D</button>
                            <button class="btn btn-warning" ng-click="ctrl.roleName = 'C'">C</button>
                            <button class="btn btn-danger" ng-click="ctrl.roleName = 'A'">A</button>
                            <button class="btn btn-primary" ng-click="ctrl.roleName = ''">Tutti</button>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px; margin-left: 0px !important">
                        <div class="input-group">
                            <span class="input-group-addon">Squadra</span>
                            <select class="form-control" ng-options="item.value as item.text for item in ctrl.teamList" ng-model="ctrl.teamName"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px; margin-left: 0px !important">
                        <div class="input-group">
                            <span class="input-group-addon">Vedi giocatori vincolati</span>
                            <button type="button" class="btn ng-class: {'btn-success': !ctrl.hiddenOwnersColumn, 'btn-danger': ctrl.hiddenOwnersColumn}" ng-click="ctrl.hiddenOwnersColumn = false">Vedi</button>
                            <button type="button" class="btn ng-class: {'btn-success': ctrl.hiddenOwnersColumn, 'btn-danger': !ctrl.hiddenOwnersColumn}" ng-click="ctrl.hiddenOwnersColumn = true">Non Vedi</button>
                        </div>
                    </div>
                    <div ng-hide="ctrl.hiddenOwnersColumn" class="row" style="margin-bottom: 15px; margin-left: 0px !important">
                        <div class="input-group">
                            <span class="input-group-addon">Proprietario</span>
                            <select class="form-control" ng-options="item.value as item.text for item in ctrl.ownersList" ng-model="ctrl.ownersName"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->

    <div class="hidden-xs row text-center">
        <h1>Lista Calciatori</h1>
        <h5>aggiornata al 18/08/2017</h5>
    </div>
    
    <div class="col-md-12">
        @*MENU IN CASO DI UTILIZZO DI UN PC/TABLET*@
        <div class="hidden-xs col-xs-12 col-md-4 ng-class: {hidden: ctrl.printEnabled}" style="padding-left: 0px !important">
            <div class="row">
                <h3>Filtri</h3>
                <div class="row" style="margin-bottom: 15px; margin-left: 0px !important">
                    <div class="input-group">
                        <span class="input-group-addon">Nome</span>
                        <input type="text" ng-model="ctrl.playerName" class="form-control" placeholder="Cerca giocatore...">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px; margin-left: 0px !important">
                    <div class="input-group">
                        <span class="input-group-addon">Ruolo</span>
                        <button class="btn btn-info" ng-click="ctrl.roleName = 'P'">P</button>
                        <button class="btn btn-success" ng-click="ctrl.roleName = 'D'">D</button>
                        <button class="btn btn-warning" ng-click="ctrl.roleName = 'C'">C</button>
                        <button class="btn btn-danger" ng-click="ctrl.roleName = 'A'">A</button>
                        <button class="btn btn-primary" ng-click="ctrl.roleName = ''">Tutti</button>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px; margin-left: 0px !important">
                    <div class="input-group">
                        <span class="input-group-addon">Squadra</span>
                        <select class="form-control" ng-options="item.value as item.text for item in ctrl.teamList" ng-model="ctrl.teamName"></select>
                    </div>
                </div>
                <div class="row hidden-xs" style="margin-bottom: 15px; margin-left: 0px !important">
                    <div class="input-group">
                        <span class="input-group-addon">Vedi giocatori vincolati</span>
                        <button type="button" class="btn ng-class: {'btn-success': !ctrl.hiddenOwnersColumn, 'btn-danger': ctrl.hiddenOwnersColumn}" ng-click="ctrl.hiddenOwnersColumn = false">Vedi</button>
                        <button type="button" class="btn ng-class: {'btn-success': ctrl.hiddenOwnersColumn, 'btn-danger': !ctrl.hiddenOwnersColumn}" ng-click="ctrl.hiddenOwnersColumn = true">Non Vedi</button>
                    </div>
                </div>
                <div ng-hide="ctrl.hiddenOwnersColumn" class="row hidden-xs" style="margin-left: 0px !important">
                    <div class="input-group">
                        <span class="input-group-addon">Proprietario</span>
                        <select class="form-control" ng-options="item.value as item.text for item in ctrl.ownersList" ng-model="ctrl.ownersName"></select>
                    </div>
                </div>
            </div>
            <div class="hidden-xs row">
                <h3>
                    Funzionalità
                </h3>
                <button class="btn btn-link" type="button" ng-click="ctrl.print()"><span class="glyphicon glyphicon-print"></span> Stampa</button>
            </div>
        </div>

        <div class="col-xs-12 ng-class: {'col-md-8': !ctrl.printEnabled, 'col-md-12': ctrl.printEnabled}" style="padding-left: 0px !important; padding-right: 0px !important">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                           <span class="glyphicon glyphicon-user ng-class: [ctrl.roleColor[ctrl.roleName]]"></span>  Nome
                        </th>
                        <th>
                            Ruolo
                        </th>
                        <th>Squadra</th>
                        <th ng-show="!ctrl.hiddenOwnersColumn">Proprietario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="ctrl.hiddenOwnersColumn ? player.proprietario != '': false" ng-repeat="player in ctrl.players | filter: { nominativo: ctrl.playerName, ruolo: ctrl.roleName, squadra: ctrl.teamName, proprietario: ctrl.ownersName }">
                        <td ng-bind="player.nominativo"></td>
                        <td ng-bind="player.ruolo" ng-class="[ctrl.roleColor[player.ruolo]]"></td>
                        <td ng-bind="player.squadra"></td>
                        <td ng-show="!ctrl.hiddenOwnersColumn" ng-bind="player.proprietario"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <button class="btn btn-primary" id="scrollBtn" title="Go To Top"><span class="glyphicon glyphicon-menu-up"></span></button>

</div>


@section scripts{
    <script src="~/app/Controllers/playersListController.js"></script>
}